<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creazytooth.dao.cz.IUserInOrgDAO">
  <resultMap id="BaseResultMap" type="com.creazytooth.model.cz.UserInOrg">
    <id column="CT_userOrgRelationId" jdbcType="INTEGER" property="ctUserorgrelationid" />
    <result column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="OrgId" jdbcType="INTEGER" property="orgid" />
  </resultMap>
  <sql id="Base_Column_List">
    CT_userOrgRelationId, UserId, OrgId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CT_userOrgRelation
    where CT_userOrgRelationId = #{ctUserorgrelationid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from CT_userOrgRelation
    where CT_userOrgRelationId = #{ctUserorgrelationid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.creazytooth.model.cz.UserInOrg">
    insert into CT_userOrgRelation (CT_userOrgRelationId, UserId, OrgId
      )
    values (#{ctUserorgrelationid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{orgid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.creazytooth.model.cz.UserInOrg">
    insert into CT_userOrgRelation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ctUserorgrelationid != null">
        CT_userOrgRelationId,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="orgid != null">
        OrgId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ctUserorgrelationid != null">
        #{ctUserorgrelationid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.creazytooth.model.cz.UserInOrg">
    update CT_userOrgRelation
    <set>
      <if test="userid != null">
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null">
        OrgId = #{orgid,jdbcType=INTEGER},
      </if>
    </set>
    where CT_userOrgRelationId = #{ctUserorgrelationid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creazytooth.model.cz.UserInOrg">
    update CT_userOrgRelation
    set UserId = #{userid,jdbcType=INTEGER},
      OrgId = #{orgid,jdbcType=INTEGER}
    where CT_userOrgRelationId = #{ctUserorgrelationid,jdbcType=INTEGER}
  </update>
</mapper>